<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="532870774512476">
            <conditions>
                <condition id="-2" name="On start of layout" sid="548108657880177" type="System" />
            </conditions>
            <actions>
                <action id="5" name="Set web font" sid="978625467804919" type="btnTexto">
                    <param id="0" name="Family name">&quot;fragment_coreroman&quot;</param>
                    <param id="1" name="CSS URL">&quot;stylesheet.css&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="479937636673900">
            <conditions>
                <condition id="-6" name="Every X seconds" sid="335576717207295" type="System">
                    <param id="0" name="Interval (seconds)">random(0.6,2)</param>
                </condition>
                <condition id="-14" name="Pick by unique ID" sid="317859794134178" type="vagalumes">
                    <param id="0" name="Unique ID">6</param>
                </condition>
            </conditions>
            <actions>
                <action id="-8" name="Set angle" sid="554163463052779" type="vagalumes">
                    <param id="0" name="Angle">round(random(angle(vagalumes.X, vagalumes.Y, 640,180)-135,angle(vagalumes.X, vagalumes.Y, 640,180)+135))</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="799739729131394">
            <conditions>
                <condition id="-6" name="Every X seconds" sid="676638691138882" type="System">
                    <param id="0" name="Interval (seconds)">random(0.6,2)</param>
                </condition>
                <condition id="-14" name="Pick by unique ID" sid="839234439165542" type="vagalumes">
                    <param id="0" name="Unique ID">8</param>
                </condition>
            </conditions>
            <actions>
                <action id="-8" name="Set angle" sid="644735656326662" type="vagalumes">
                    <param id="0" name="Angle">round(random(angle(vagalumes.X, vagalumes.Y, 640,180)-135,angle(vagalumes.X, vagalumes.Y, 640,180)+135))</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="372632111895000">
            <conditions>
                <condition id="-6" name="Every X seconds" sid="314676236531535" type="System">
                    <param id="0" name="Interval (seconds)">random(0.6,2)</param>
                </condition>
                <condition id="-14" name="Pick by unique ID" sid="807320615310770" type="vagalumes">
                    <param id="0" name="Unique ID">9</param>
                </condition>
            </conditions>
            <actions>
                <action id="-8" name="Set angle" sid="263243113983888" type="vagalumes">
                    <param id="0" name="Angle">round(random(angle(vagalumes.X, vagalumes.Y, 640,180)-135,angle(vagalumes.X, vagalumes.Y, 640,180)+135))</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="805277809766252">
            <conditions>
                <condition id="-6" name="Every X seconds" sid="324580825451083" type="System">
                    <param id="0" name="Interval (seconds)">random(0.6,2)</param>
                </condition>
                <condition id="-14" name="Pick by unique ID" sid="906994088333465" type="vagalumes">
                    <param id="0" name="Unique ID">16</param>
                </condition>
            </conditions>
            <actions>
                <action id="-8" name="Set angle" sid="614197744902831" type="vagalumes">
                    <param id="0" name="Angle">round(random(angle(vagalumes.X, vagalumes.Y, 640,180)-135,angle(vagalumes.X, vagalumes.Y, 640,180)+135))</param>
                </action>
            </actions>
        </event-block>
        <event-block any="1" sid="679424648496571">
            <conditions>
                <condition id="6" name="On object clicked" sid="581598580522124" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">btnTexto</param>
                </condition>
                <condition id="17" name="On tap object" sid="391945234770644" type="Touch">
                    <param id="0" name="Object">btnTexto</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="245685466764075">
                    <conditions>
                        <condition id="-14" name="Pick by unique ID" sid="492729465721692" type="btnTexto">
                            <param id="0" name="Unique ID">7</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-2" name="Go to layout" sid="788559131228373" type="System">
                            <param id="0" name="Layout">Tela de Casos</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="581176421637031">
                    <conditions>
                        <condition id="-14" name="Pick by unique ID" sid="138003622600442" type="btnTexto">
                            <param id="0" name="Unique ID">10</param>
                        </condition>
                    </conditions>
                    <actions />
                </event-block>
                <event-block sid="185012261383389">
                    <conditions>
                        <condition id="-14" name="Pick by unique ID" sid="825727309321607" type="btnTexto">
                            <param id="0" name="Unique ID">11</param>
                        </condition>
                    </conditions>
                    <actions />
                </event-block>
            </sub-events>
        </event-block>
        <event-block sid="206521396466313">
            <conditions>
                <condition id="7" name="Cursor is over object" sid="285171705445947" type="Mouse">
                    <param id="0" name="Object">btnTexto</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Set cursor style" sid="452730089572605" type="Mouse">
                    <param id="0" name="Cursor style">1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="319603000900573">
            <conditions>
                <condition id="-22" name="Else" sid="318323615203346" type="System" />
            </conditions>
            <actions>
                <action id="0" name="Set cursor style" sid="587849979840936" type="Mouse">
                    <param id="0" name="Cursor style">0</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
